# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Buildozer
.buildozer/
bin/
dist/

# Android
*.apk
*.aab
build/
.gradle/
local.properties

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
